
@model Aula02Atos.Models.Alunos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trazer o Aluno</title>
</head>
<body>
    <div> 
        Resultado da Pesquisa: <p/><p />
        Nome: @Model.Nome
    </div>
</body>
</html>
