
@model Aula02Atos.Models.Alunos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aluno Incluido com Sucesso</title>
</head>
<body>
    <div>
        Codigo: @Model.ID<br /><br />
        Nome: @Model.Nome<br /><br />
    </div>
</body>
</html>
